body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    background-image: url(./assets/images/dr.jpg);
    background-size: auto;
    background-position: center;
    height: 700px;
    width: auto;
    background-repeat: no-repeat;
    
  }
  
  nav {
    background-image: linear-gradient(white,skyblue, rgb(171, 171, 243));
    padding:20px;
    margin-top: -30px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    justify-content: top;
    
  }
  
  nav ul li {
    margin: -10px ;
    background-color: white;
    padding: 10px;
    border-radius: 15%;
  }
  
  nav ul li a {
    color: brown;
    text-decoration: none;
  }
  
  div {
    padding: 1em;
  }
  
  h1 {
    color: #007bff;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  .role-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  .login-container{
    display: flex;
    margin: 50px;
    margin-left: 600px;
     border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60dvh;
    width: 40dvh;
    background-color:rgb(102, 229, 254);
    background-image: linear-gradient(skyblue,white,skyblue);
    box-shadow: 0px 0px 10px 15px white;
    text-align: center;
  }
  label{
    color: #677b91;
    font-size: 30px;
    font-style:oblique;
    
    
  }
  input{
    margin: 20px;
    padding: 10px 10px;
    font-size: 16px;
    
    color: brown;
    background-color:skyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 15px white;
  }
  
  .role-button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    color: brown;
    background-color:skyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 15px skyblue;
  }
  
  .role-button:hover {
    background-color: whitesmoke ;
  }
  